[
 %% All AAA Server configuration is read from environment variables.
 %% See aaa_config.erl for the complete list of supported env vars.
 {kernel, [
   {logger_level, info},
   {logger, [
     {handler, default, logger_std_h, #{
       config => #{type => standard_io},
       level => info,
       formatter => {logger_formatter, #{
         single_line => true,
         template => [time, " [", level, "] ", msg, "\n"]
       }}
     }}
   ]}
 ]},
 {sasl, [{sasl_error_logger, false}]}
].
